.mdi-plus-circle{
    margin-left: 50px
}
md-icon {
    display: inline;
}

md-card .dog-image {
    height: 185px;
    width: auto;
}
dog-list-component > md-content {
    display: flex;
    justify-content: space-around;
}
repeat-component {
    flex-basis: 33%;
}
